<div class="p-10">
  <!-- Section 1 -->
  <div
    class="block p-6 max-w-full"
  >
    <span class="font-display text-vert-1 text-4xl"
      >Section 1 - Nom section</span
    >
  </div>
  <div class="flex justify-between mt-4 mb-12">
    <div class="block p-4 my-2 w-1/5 h-xs align-text-bottom rounded-lg shadow-md ring-2 ring-bleu-1 backdrop-blur-sm bg-white/20">
      <span>Java</span>
    </div>
    <div class="block p-4 my-2 w-1/5 h-48 align-text-bottom rounded-lg shadow-md ring-2 ring-vert-1 backdrop-blur-sm bg-white/20">
      <span>Français</span>
    </div>
    <div class="block p-4 my-2 w-1/5 h-xs align-text-bottom rounded-lg shadow-md ring-2 ring-bleu-1 backdrop-blur-sm bg-white/20">
      <span>Maths</span>
    </div>
    <div class="block p-4 my-2 w-1/5 h-xs align-text-bottom rounded-lg shadow-md ring-2 ring-vert-1 backdrop-blur-sm bg-white/20">
      <span>SVT</span>
    </div>
  </div>

  <!-- Section 2 -->
  <div
    class="block p-6 max-w-full"
  >
    <span class="font-display text-vert-1 text-4xl"
      >Section 2 - Nom section</span
    >
  </div>
  <div class="flex justify-between mt-4 mb-12">
    <div class="block p-4 my-2 w-1/5 h-xs rounded-lg ring-2 ring-vert-1 backdrop-blur-sm bg-white/20">
      <span>Physique-Chimie</span>
    </div>
    <div class="block p-4 my-2 w-1/5 h-48 rounded-lg ring-2 ring-bleu-1 backdrop-blur-sm bg-white/20">
      <span>Course relais</span>
    </div>
    <div class="block p-4 my-2 w-1/5 h-xs rounded-lg ring-2 ring-vert-1 backdrop-blur-sm bg-white/20">
      <span>Intelligence Artificielle</span>
    </div>
    <div class="block p-4 my-2 w-1/5 h-xs rounded-lg ring-2 ring-bleu-1 backdrop-blur-sm bg-white/20">
      <span>Gestion commerciale</span>
    </div>
  </div>
</div>
