<mat-grid-list cols="2" rowHeight="2:2" gutterSize="20px">
  <mat-grid-tile>
    <h1>Appréciez vos séances de révisions !</h1>
    <span>
      C’est pénible de réviser? Pas de problème ! On va “ludifier” un peu tout
      ça pour vous aider au maximum à atteindre vos objectifs.
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image-section-1"></div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:2" gutterSize="20px">
  <mat-grid-tile>
    <div class="image-section-2"></div>
  </mat-grid-tile>
  <mat-grid-tile>
    <h1>"Ludification" ? Qu'est-ce que c'est ?</h1>
    <span>
      Le principe consiste à greffer des mécaniques de jeux vidéo sur diverses
      activités, ici tes révisions. L’apprentissage et la motivation par le jeu
      ayant plus que fait leurs preuves, nous trouvons qu’aujourd’hui
      l’éducation manque cruellement d’outils gamifiés !
    </span>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="2:1" gutterSize="20px">
  <mat-grid-tile>
    <h1>Skill Quest est pour les étudiants... et les professeurs !</h1>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="2:1" gutterSize="20px">
  <mat-grid-tile>
    <h1>C'est bien beau tout ça, mais ça coûte combien ?</h1>
    <span>
      Notre monétisation s'effectue sur la vente de licences pour créer des
      comptes officiels. Le téléchargement de l’application web/mobile est
      gratuit, une version d’essais est en cours de production. Nous proposons
      un tarif souple pour les structures avec un besoin précis : Étape 1 : Vous
      choisissez le nombre de comptes de cours dont vous avez besoin. Etape 2 :
      Vous choisissez le nombre de comptes élèves maximum que vous répartissez
      ensuite comme vous voulez sur les cours. N’hésitez pas à nous contacter
      pour des éclaircissements, les tarifs de déploiements sur de grosses
      structures sont négociables et des aides pour déployer votre structure.
    </span>
  </mat-grid-tile>
</mat-grid-list>
