<div class="login-page-wrapper">
  <mat-card class="login-wrapper">
    <mat-card-title class="login-title">Connectes-toi !</mat-card-title>

    <!-- Mail -->
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Ton mail</mat-label>
        <input
          matInput
          placeholder="pouet@example.com"
          [formControl]="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </mat-card-content>

    <!-- Password -->
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Ton mot de passe</mat-label>
        <input
          matInput
          [formControl]="password"
          [type]="hide ? 'password' : 'text'"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Cacher le mot de passe'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">{{
          getPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>
    </mat-card-content>

    <!-- Connection button -->
    <mat-card-content>
      <button mat-flat-button color="primary">Se connecter</button>
    </mat-card-content>

    <!-- Forgotten password -->
    <mat-card-content>
      <a mat-button>mot de passe oublié ?</a>
    </mat-card-content>
  </mat-card>
</div>
