$logo-image: '/assets/logo.png';

.toolbar {
  height: 100px;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 0;

  .logo {
    width: 94px;
    height: 94px;
    background-image: url($logo-image);
    background-size: contain;
    background-repeat: no-repeat;
    cursor:  pointer;
  }
}

@media screen and (max-width:700px) {
  .toolbar {
    height: 250px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
