<nav class="bg-transparent backdrop-blur-sm bg-black/20 text-violet-1 flex p-10">
  <!-- Espace navigation -->
  <div class="w-1/3 flex justify-between items-end">
    <img class="max-w-16 max-h-14" src="/assets/home-svgrepo-com.svg" alt="home">
    <div class="flex items-end px-4 py-2">
      <input class="w-96 max-h-8 border-b-2 border-vert-1 bg-transparent" type="text" name="pseudo" />
      <img class="max-w-6 max-h-8" src="/assets/loupe-svgrepo-com.svg" alt="research">
    </div>
  </div>
  <!-- Espace titre -->
  <div class="w-1/3 flex justify-center items-center">
    <span class="text-6xl text-center font-display">Liste des modules</span>
  </div>
  <!-- Espace profil -->
  <div class="w-1/3 flex justify-end items-center">
    <span class="p-4 text-2xl font-display">Profil</span>
    <div class="w-14 h-14 rounded-full ring-2 ring-vert-1"></div>
  </div> 
</nav>
