<div class="modules-container px-8 my-4 overflow-y-auto h-4/6">
    <!-- Section 1 -->
     <div
       class="block p-6 max-w-full"
     >
       <span class="font-display text-vert-1 text-4xl"
         >Section 1 - Nom section</span
       >
     </div>
     <div class="flex justify-around mt-4 mb-12">
       <div class="block p-4 my-2 w-72 h-56 align-text-bottom rounded-3xl shadow-md shadow-inner ring-1 ring-bleu-1 backdrop-blur-sm bg-white/20">
         <span class="inline-block align-bottom">Java</span>
       </div>
       <div class="block p-4 my-2 w-72 h-56 align-text-bottom rounded-3xl shadow-md ring-1 ring-vert-1 backdrop-blur-sm bg-white/20">
         <span>Français</span>
       </div>
       <div class="block p-4 my-2 w-72 h-56 align-text-bottom rounded-3xl shadow-md ring-1 ring-bleu-1 backdrop-blur-sm bg-white/20">
         <span>Maths</span>
       </div>
       <div class="block p-4 my-2 w-72 h-56 align-text-bottom rounded-3xl shadow-md ring-1 ring-vert-1 backdrop-blur-sm bg-white/20">
         <span>Physique-Chimie</span>
       </div>
     </div>
   
     <!-- Section 2 -->
     <div
       class="block p-6 max-w-full"
     >
       <span class="font-display text-vert-1 text-4xl"
         >Section 2 - Nom section</span
       >
     </div>
     <div class="flex justify-around mt-4 mb-12">
       <div class="block p-4 my-2 w-72 h-56 align-text-bottom rounded-3xl shadow-md ring-1 ring-vert-1 backdrop-blur-sm bg-white/20">
         <span>Physique-Chimie</span>
       </div>
       <div class="block p-4 my-2 w-72 h-56 align-text-bottom rounded-3xl shadow-md ring-1 ring-bleu-1 backdrop-blur-sm bg-white/20">
         <span>Course relais</span>
       </div>
       <div class="block p-4 my-2 w-72 h-56 align-text-bottom rounded-3xl shadow-md ring-1 ring-vert-1 backdrop-blur-sm bg-white/20">
         <span>Intelligence Artificielle</span>
       </div>
       <div class="block p-4 my-2 w-72 h-56 align-text-bottom rounded-3xl shadow-md ring-1 ring-bleu-1 backdrop-blur-sm bg-white/20">
         <span>Gestion commerciale</span>
       </div>
     </div>
   </div>
   